$font-Raleway-Bold: "Raleway", "Arial", sans-serif;
$font-Raleway-Regular: "Raleway", "Arial", sans-serif;
$font-Raleway-Light: "Raleway", "Arial", sans-serif;
$font-Raleway-SemiBold: "Raleway", "Arial", sans-serif;
$font-Dela-Gothic-One: "Dela Gothic One", "Arial", sans-serif;

$main-color: #DA1F39;
$text-color: #565656;
$background-color:#F4F4F4;
$cart-color:#EFEFEF;
$white-color:#FFFFFF;


$container-width: 1280px;
